@tailwind base;
@tailwind components;

@tailwind utilities;

body{
    background-color: #f6f7f8;
}
#cart-modal{
    cursor: pointer;
}

.product {
    margin-top: 50px;
}

.flying-img {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: all 0.8s ease-in-out;
    z-index: 1000;
}
